/* Font khusus */
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@100..900&display=swap");

/* Import reset / base styles */
@import "tailwindcss/preflight";

/* Import utilities */
@import "tailwindcss/utilities";

