@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .sidebar-transition {
        transition: all 0.3s ease;
    }

    .chart-loading {
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .chart-loaded {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Untuk Chrome, Safari, Edge (Webkit browsers) */
*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Track */
*::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb */
*::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: none;
}
